<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net471" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net471" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net471" />
  <package id="Microsoft.OData.Core" version="6.14.0" targetFramework="net471" />
  <package id="Microsoft.OData.Edm" version="6.14.0" targetFramework="net471" />
  <package id="Microsoft.Spatial" version="6.14.0" targetFramework="net471" />
  <package id="NeotysRestCommonAPI" version="1.0.2" targetFramework="net471" />
  <package id="NeotysRestDesignAPI" version="1.0.8" targetFramework="net471" />
  <package id="Simple.OData.Client" version="4.16.0" targetFramework="net471" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net471" />
</packages>