<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NeoLoadAddOn.settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NeoLoadAddOn.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CustomSet.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NeoLoadAddOn.settings.Settings>
            <setting name="NeoLoadApiPort" serializeAs="String">
                <value>7400</value>
            </setting>
            <setting name="NeoLoadApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="NeoLoadApiHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CreateTransactionBySapTCode" serializeAs="String">
                <value>True</value>
            </setting>
        </NeoLoadAddOn.settings.Settings>
        <NeoLoadAddOn.Settings>
            <setting name="NeoLoadApiPort" serializeAs="String">
                <value>7400</value>
            </setting>
            <setting name="NeoLoadApiToken" serializeAs="String">
                <value />
            </setting>
            <setting name="NeoLoadApiHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CreateTransactionBySapTCode" serializeAs="String">
              <value>True</value>
            </setting>
        </NeoLoadAddOn.Settings>
        <CustomSet.Settings>
            <setting name="TestNL" serializeAs="String">
                <value>false</value>
            </setting>
        </CustomSet.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  <runtime>
   
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
			</dependentAssembly>
        <dependentAssembly>
   
            <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
   
        </dependentAssembly>
   
    </assemblyBinding>
  </runtime>
</configuration>
