<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NeoLoadAddOn.settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NeoLoadAddOn.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CustomSet.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NeoLoadAddOn.settings.Settings>
            <setting name="NeoLoadApiPort" serializeAs="String">
                <value>7400</value>
            </setting>
            <setting name="NeoLoadApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="NeoLoadApiHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CreateTransactionBySapTCode" serializeAs="String">
                <value>False</value>
            </setting>
        </NeoLoadAddOn.settings.Settings>
        <NeoLoadAddOn.Settings>
            <setting name="NeoLoadApiPort" serializeAs="String">
                <value>7400</value>
            </setting>
            <setting name="NeoLoadApiToken" serializeAs="String">
                <value />
            </setting>
            <setting name="NeoLoadApiHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CreateTransactionBySapTCode" serializeAs="String">
              <value>False</value>
            </setting>
        </NeoLoadAddOn.Settings>
        <CustomSet.Settings>
            <setting name="TestNL" serializeAs="String">
                <value>false</value>
            </setting>
        </CustomSet.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  
</configuration>
